a {
    color:green;
    font-weight:bold;
    text-decoration: none;
}

header {
    background-color:#a21717;
    color:white;
    text-align: center;
}

h1 {
    font-size:60px;
    letter-spacing: 20px;
    text-shadow: 5px 5px 8px black;
    text-transform: uppercase;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size:1rem;
    font-style: italic;
    line-height: 1.5rem;
    text-indent:50px;
    font-family: Arial, Helvetica, sans-serif;
}
#second {
    font-size:1.5rem;
}
.list {
    font-size:1rem;
}
main nav ul {
    font-weight: bold;
}
#wrapper {
    width:80%;
    margin-right:auto;
    margin-left:auto;
}