/* Color Theme Swatches in Hex */
.Flavour-1-hex { color: #A60512; }
.Flavour-2-hex { color: #5A7302; }
.Flavour-3-hex { color: #F2B705; }
.Flavour-4-hex { color: #BF4904; }
.Flavour-5-hex { color: #F2F2F2; }

/* Color Theme Swatches in RGBA */
.Flavour-1-rgba { color: rgba(165, 4, 18, 1); }
.Flavour-2-rgba { color: rgba(90, 114, 2, 1); }
.Flavour-3-rgba { color: rgba(242, 182, 4, 1); }
.Flavour-4-rgba { color: rgba(191, 72, 3, 1); }
.Flavour-5-rgba { color: rgba(242, 242, 242, 1); }

/* Color Theme Swatches in HSLA */
.Flavour-1-hsla { color: hsla(354, 94, 33, 1); }
.Flavour-2-hsla { color: hsla(73, 96, 22, 1); }
.Flavour-3-hsla { color: hsla(45, 96, 48, 1); }
.Flavour-4-hsla { color: hsla(22, 96, 38, 1); }
.Flavour-5-hsla { color: hsla(0, 0, 95, 1); }

body {
    margin:0;
    background-image: linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment: fixed;
}
a {
    color:green;
    font-weight:bold;
    text-decoration: none;
}

header {
    /* background-color:#a21717; */
    color:white;
    text-align: center;
}

h1 {
    font-size:60px;
    letter-spacing: 20px;
    text-shadow: 5px 5px 8px black;
    text-transform: uppercase;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin:0;
}

p {
    font-size:1rem;
    line-height: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
#second {
    font-size:1.5rem;
}
.list {
    font-size:1rem;
}
main nav ul {
    font-weight: bold;
}
#wrapper {
    width:80%;
    margin-right:auto;
    margin-left:auto;
    background-color:#ffffff;
    max-width:2048px;
    min-width:960px;
    box-shadow: 0 3px 3px rgba(66,66,66,0.3);
}
nav {
    /* border: 1px solid #a21717;
    border-radius:20px; */
    background-color:#a21717;
}
nav ul {
    margin:0;
    padding:0;
}
nav ul li {
    display:inline-block;
    border-right:1px solid #fff;  
}
nav a {
    display:inline-block;
    color:#fff;
    padding: 15px 25px;
}
h2 {
    margin:0;
}
.logo {
    width:100px;
}
.hero {
    height:350px;
    width:100%;
    background-image:url('images/asian-food.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 95%;
    text-align: center;
    color:#fff;
    padding-top:30px;
}